.App {
  text-align: center;
  background-color: #282c34;
}

.Container{
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: strech;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
}
